.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }  

.outfit-recipe {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

body {
    background-color: wheat;
    width: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe_container {
    background-color: white;
    width: 575px;
    height: auto;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Outfit";
}

.pic_container {
    display: flex;
    justify-content: center;
}

.omelette_pic {
    width: 550px;
    border-radius: 5px;
    margin-top: 20px;
}

.header {
    display: inline-block;
}

.header h2 {
    text-align: center;
    font-family: "Young Serif";
}

.prep {
    background-color:  hsl(335, 60%, 96%);
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.prep h4 {
    padding-left: 25px;
    color: hsl(332, 51%, 32%);
}

.prep li {
    padding-bottom: 10px;
}

.ingredients {
    border-bottom: 1px solid gray;
}

.ingredients h3 {
    padding-left: 25px;
    color: hsl(14, 45%, 36%);
}

.ingredients li {
    padding-bottom: 10px;
}

.instructions {
    border-bottom: 1px solid gray;
}

.instructions h3 {
    padding-left: 25px;
    color: hsl(14, 45%, 36%);
}

.instructions li {
    padding-bottom: 10px;
}

.nutrition h3 {
    padding-left: 25px;
    color: hsl(14, 45%, 36%);
}

.nut_top {
    padding-left: 25px;
}

/* .nut {
    padding-left: 40px;
} */

.nut_spacing {
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
}

.nut {
    flex: 1;
}

.right {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.nut_spacing:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    margin-top: 25px;
}

footer span {
    border: 4px groove gray;
    background-color: aliceblue;
    padding-left: 10px;
}

footer a {
    padding: 10px;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .recipe_container {
        width: 100%;
    }

    footer {
        width: 100%;
        display: flex;
    }

    .omelette_pic {
        width: 250px;
    }
}